<!-- Pasek nawigacj -->
<nav id="navigation">
    <div id="title">
        <a asp-area="" asp-controller="Home" asp-action="Index">Forum</a>
    </div>
    <div id="bar">
        <div class="element">
            <a asp-area="" asp-controller="Home" asp-action="About">O forum</a>
        </div>
    </div>
    <div id="options">
        <partial name="_LoginPartial" />
    </div>
    <div style="clear: both"></div>
</nav>