@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Forum.Models.Database.Topic>

@foreach (var item in Model)
{
    var author = await UserManager.FindByIdAsync(item.UserId);
    // Wyświetlenie każdego tematu na stronie
    <article id="forum">
        <a asp-controller="Topic" asp-action="Index" asp-route-id="@item.TopicId">
            <topic author="@author" text="@item.Text"></topic>
        </a>
    </article>
}