@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Forum.Models.Database.Post

<article id="addPost">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        // Formularz służący do dodawania postów wraz ze sprawdzenie czy użytkownik jest zalogowany
        // Wykorzystuje skrypt addPost.js
        <a class="addItem" v-on:click="toggle">{{ text }}</a>
        <form asp-controller="Post" asp-action="AddPost" v-if="isVisible">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Treść posta:</label>
                <textarea asp-for="Text" class="form-control" cols="200" rows="8"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input asp-for="UserId" type="hidden" value="@user.Id" />
            <input asp-for="TopicId" type="hidden" value="@Model.TopicId" />
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>

    }
    else
    {
        <p>Zaloguj się, a jeżeli nie masz jeszcze konta zarejestruj się by móc dodawać tematy!</p>
    }
</article>