@model  Forum.Models.Database.Post
<form asp-controller="Post" asp-action="DeletePost" asp-route-id="@Model.PostId">
    <input type="hidden" asp-for="PostId" />
    <input type="submit" value="Usuń" />
</form>