@model Forum.Models.Database.Post
<!-- Formularz edycji posta -->
<form asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.PostId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
    <div class="form-group">
        <label asp-for="Text" class="control-label">Treść posta:</label>
        <textarea asp-for="Text" class="form-control" cols="200" rows="8"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="TopicId" />
    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>