@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Dostęp zabroniony";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Dostęp zabroniony z powodu braku uprawnień.</p>
</header>
