/* Main */

main {
    border: 8px solid darkgreen;
    background-color: white;
    color: black;
    margin: 5% 10%;
    width: 80%;
    display: inline-block;
}

main a {
    color: black;
}
main a:link {
    color: black;
}
main a:hover {
    color: black;
}

.topic {
    border-bottom: 5px solid darkgreen;
    margin-bottom: 20px;
    padding: 5px;
}

.post {
    border-bottom: 5px solid darkgreen;
    margin-bottom: 20px;
    padding: 5px;
}

/* Autor */
article > .author {
    font-weight: bold;
    font-size: small;
    float: left;
}

/* Tekst dla tematu i posta*/
article > .text {
    margin: 5px 10px;
    font-weight: 400;
    font-size: large;
    clear: both;
}

/* Tekst tematu */
.topic > .text {    
    font-weight: 500;
    font-size: x-large;
}

/* Opcje */
article > .options {
    float: right;
}


/* Przycisk Edytuj(temat, post) */
.options a {
    background-color: inherit;
    display: block;
    padding: 6px 14px;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 4px;
    float: left;
}

.options a:hover {
    background-color: #007bff;
    color: white;
}

/* Przycisk Usuń(temat, post) */
.options input {
    background-color: inherit;
    display: block;
    padding: 6px 14px;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    float: left;
}

.options input:hover {
    background-color: #007bff;
    color: white;

}

/* O forum */
article {
    padding: 10px 10px;
}